name: CI build and install gem

on:
  push:
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v6

    - name: Setup Ruby
      uses: ruby/setup-ruby@v1
      with:
        ruby-version: ruby

    - name: Build and install gem
      run: gem build *.gemspec && gem install *.gem
