name: CI

on:
  push:
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        include:
          - { ruby: '2.6' }
          - { ruby: '2.7' }
          - { ruby: '3.0' }
          - { ruby: '3.1' }
          - { ruby: '3.2' }
          - { ruby: '3.3' }
          - { ruby: '3.4' }
          - { ruby: head, allow-failure: true }
          - { ruby: jruby-10.0 }
          - { ruby: jruby-head, allow-failure: true }

    steps:
    - name: Checkout code
      uses: actions/checkout@v6

    - name: Setup Ruby ${{ matrix.ruby }}
      uses: ruby/setup-ruby@v1
      with:
        ruby-version: ${{ matrix.ruby }}
        bundler-cache: true

    - name: Run tests
      run: bundle exec rake
      continue-on-error: ${{ matrix.allow-failure || false }}
